.student-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.student-card{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}